.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
.box{
    background-color: rgb(177, 87, 139);
    color: white;
    position: relative;
    font-size: large;
    padding: 0.5rem 2rem;
    box-shadow:0px 0px 5px rgb(119, 82, 82);
    border-radius: 20px;
    z-index: 1;
}
.box::before{
    content:"";
    position: absolute;
   
    top: 0;
    left: 0;

    right: 0;
    bottom: 0;
    background-color: rgb(92, 72, 72);
    transform-origin: left;
    transform: scaleX(0);
    z-index: -1;
    transition: all 0.8s;
    border-radius: 20px;
 

}
.box:hover::before{
    transform: scaleX(1);
    border-radius: 20px;
  
   

}